<template>
    <div id="main" class="A4-size" :class="{'A4-size-in-production-mode': isProductionMode}">
        <div v-if="!isProductionMode" class="breakLineForPDF"></div>
        <Decoration></Decoration>
        <Selfie :isProductionMode="isProductionMode"></Selfie>
        <h1>简介</h1><hr>
        <Header></Header>
        <h1>个人项目</h1><hr>
        <Project></Project>
        <h1>教育经历</h1><hr>
        <Education></Education>
        <h1 :class="{'nextPageMargin': !isProductionMode}">自我评价</h1><hr>
        <Conclusion></Conclusion>    
        <p id="tips">Hi~ 感谢您的查阅，这份简历将会一直在我的网站&nbsp;<font-awesome-icon icon="external-link-alt"/>&nbsp;<a href="https://zeyun.org/resume" target="_blank">zeyun.org/resume</a>&nbsp;上持续更新。</p>
    </div>
</template>

<script>
// @ is an alias to /src
import Selfie from '@/components/Selfie.vue';
import Header from '@/components/Header.vue';
import Project from '@/components/Project.vue';
import Education from '@/components/Education.vue';
import Conclusion from '@/components/Conclusion.vue';
import Decoration from '@/components/Decoration.vue';

export default {
    name: 'resume',
    components: {
        Selfie,
        Header,
        Project,
        Education,
        Conclusion,
        Decoration
    },
    data () {
        return {
            isProductionMode: null
        }
    },
    created (){
        this.isProductionMode = process.env.NODE_ENV === 'production' ? true : false
    }
}
</script>

<style scoped>
    #main {
        background-color: white;
    }

    .A4-size {
        position: relative;
        width:21cm; 
        /* height:29.4cm; */
        margin: 0 auto; 
        padding: 2cm 2cm;
        overflow: hidden;
    }

    .A4-size > div:not(:last-of-type) {
        margin-bottom: 4rem;
    }  

    .A4-size-in-production-mode {
        border-radius: var(--radius-small);
        margin: 4rem auto;
        box-shadow: var(--shadow-bottom);
    }

    .full-screen {
        width: 100%;
    }

    #tips {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 1.3rem;
        color: var(--deepblue-f5);
    }
    .breakLineForPDF {
        position: absolute;
        height: 0;
        width: 100%;
        top: 29.4cm;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
        border-top: 2px solid var(--gray);
        border-style: dashed;
    }
    .breakLineForPDF::before {
        position: absolute;
        content: '还有下一页';
        font-weight: bold;
        font-size: 1.4rem;
        color: var(--green);
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .nextPageMargin {
        margin-top: 3cm;
    }
</style>

