<template>
    <div id="conclusion">
        <ul>
            <li>100% 自我驱动学习前端一年，英语听阅顺畅，网络自由，学习不分国界</li>
            <li>熟练运用 HTML、CSS、JavaScript、AJAX 开发网页及应用</li>
            <li>熟悉 HTML5、ES6+、CSS3+ 等更为现代化的原生特性并积极在项目中实践</li>
            <li>了解 HTTP 通信协议、HTTPS 加密与认证、Git 代码版本控制、Linux 基本操作等</li>
            <li>会用 Vue 及其生态周边产品高效率开发网页应用</li>
            <li>会用 Node.js 做 RESTful API 服务、文件服务、网络爬虫等应用</li>
            <li>会用 PS、XD、AI 等图形工具制作设计稿、产品原型、矢量图等素材</li>
            <!-- <li>爱好琢磨用户心理、钻研 UI 细节，广泛涉猎美好的设计与产品并思考、模仿、转化</li> -->
        </ul>
        <Tag>自学手段多</Tag><Tag>拥抱新技术</Tag><Tag>爱折腾爱较真</Tag><Tag>细节洁癖</Tag><Tag>审美成熟</Tag>
    </div>
</template>

<script>
export default {
    name: 'Conclusion'
}
</script>

<style scoped>
    #conclusion {
        font-size: 1.6rem;
    }
    ul {
        position: relative;
        margin-bottom: .6em;
        left: 1em;
    }
    li {
        line-height: 2.2em;
    }
</style>
