<template>
    <div id="decoration">

    </div>
</template>

<script>
export default {
    name: 'decoration'
}
</script>

<style>
    #decoration {
        position: absolute;
        width: 23rem;
        height: 23rem;
        background-image: var(--green-gradient);
        border-radius: 50%;
        top: -10rem;
        right: -10rem;
    }
</style>
