<template>
    <div id="education">
        <p>徐州工程学院<span>本科 - 给排水科学与工程</span><span>2014-09 ~ 2018-06</span></p>
    </div>
</template>

<script>
export default {
    name: 'education'
}
</script>

<style scoped>
    span {
        color: var(--deepblue-f7);
        margin-left: 4em;
    }
</style>
