<template>
    <div id="header">
        <div id="name">
            <span>姓名</span>
            <span>吴则运</span>
        </div>
        <div id="living">
            <span>现居</span>
            <span>上海</span>
        </div>
        <div id="profession">
            <span>意向职位</span>
            <span>初级 Web 前端开发工程师（接受全职实习）</span>
        </div>
        <div id="blog">
            <span>个人博客</span>
            <a href="https://zeyun.me" target="_blank"><font-awesome-icon icon="external-link-alt"/> https://zeyun.me</a>
        </div>
        <div id="contact">
            <span>联系方式</span>
            <Tag><font-awesome-icon icon="phone-square"/> 175****5521</Tag>
            <Tag><font-awesome-icon icon="envelope-square"/> toryanwu@gmail.com</Tag>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Header'
}
</script>

<style scoped>
    span {
        display: inline-block;
        vertical-align: text-top;
    }
    .tag {
        margin-left: -.6em;
        margin-right: 1.2em !important;
    }
    #header {
        position: relative;
    }
    #header > div {
        font-size: 1.6rem;
        margin-bottom: -.3em;
    }
    #header > div > :first-child {
        width: 8rem;
        text-align: justify;
        margin-right: 1.5em;
        color: var(--deepblue-f7);
    }
    #header > div > :first-child::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
    }
</style>
