<template>
    <div id="project">
        <h2>简单搜歌 微信小程序<span class="ps">（暂未上架，可展示开发者版本）</span></h2>
        <p>一款主打同时搜索「网易云音乐」与「QQ 音乐」歌曲曲库功能的微信小程序，具备独立设计的音乐播放器 UI 与轻盈个性的交互动画。使用微信小程序原生框架编写。</p>
        <tag>微信小程序</tag><tag>RESTful API</tag>
        <h2>ZEYUN.ME 博客网站应用</h2>
        <p>一款注重前端用户体验、具备响应式 UI、配置 ServiceWorker 缓存机制、基于 Vue 生态从零开始搭建的现代化 Progressive Web App。</p>
        <Tag>Vue</Tag><Tag>响应式 UI</Tag><Tag>ServiceWorker</Tag><Tag>PWA</Tag><Tag>AJAX</Tag>
        <h2>GreenAst 答题助手</h2>
        <p>一款在答题 App 盛行时期开发的以 Node.js 后端程序为主的百科题目答案分析应用。大体流程为程序通过 OCR 或抓包自动获取题目内容 => NLP 自然语言分析 => 爬取并筛选网络数据 => 算法统计最佳答案 => 自动点击屏幕选择最佳答案。</p>
        <Tag>Node.js</Tag><Tag>Charles 抓包</Tag><Tag>RegExp</Tag>
    </div>
</template>

<script>
export default {
    name: 'Project'
}
</script>

<style scoped>
    p {
        margin-bottom: .6em;
        color: var(--deepblue-f7);
    }
    .ps {
        color: var(--deepblue-f3);
    }
</style>
