<template>
    <div id="selfie">
        <img src="https://cdn.zeyun.org/about/DocumentSelfie.png" alt="证件照" :class='shadow'>
        <Tag>状态：<Tag>在职</Tag></Tag>
        <p>最近更新：2018-11-18</p>
    </div>
</template>

<script>

export default {
    name: 'selfie',
    props: {
        isProductionMode: Boolean
    },
    computed: {
        shadow (){
            return this.isProductionMode ? 'blur-shadow' : 'solid-shadow'
        }
    },
    beforeMount (){
        
    }
}
</script>

<style scoped>
    #selfie {
        position: absolute;
        display: inline-block;
        width: 17%;
        top: 2cm;
        right: 2cm;
        text-align: center;
    }
    #selfie img {
        border-radius: var(--radius-small);
        margin-bottom: 1rem;
    }
    .solid-shadow {
        box-shadow: 0px 0px 0 1px rgba(95, 95, 95, 0.2);
    }
    .blur-shadow {
        box-shadow: 0px 0px 30px -5px rgba(95, 95, 95, 0.3);
    }
    #selfie .tag {
        vertical-align: baseline;
        margin: 0;
    }
    #selfie > .tag {
        padding-right: 0;
    }
    #selfie > .tag > .tag {
        background: var(--gray-deep);
        color: white;
        font-weight: bold;
    }
    p {
        position: absolute;
        width: 150%;
        font-size: 1.3rem;
        color: var(--deepblue-f5);
        bottom: -3.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
