<template>
    <span class="tag"><slot></slot></span>
</template>

<script>
export default {
    name: 'tag'
}
</script>

<style scoped>
    .tag {
        display: inline-block;
        font-size: 1.4rem;
        margin-right: .6em;
        height: 1.8em;
        line-height: 1.8em;
        background-color: var(--gray-light);
        padding: 0 .7em;
        border-radius: var(--radius-large);
        vertical-align: middle;
    }
    .tag:hover {
        background-color: var(--gray);
    }
    .tag > svg {
        vertical-align: sub;
        font-size: 1.2em;
        color: var(--deepblue-f8);
    }
</style>
