<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}button,input,select,textarea{margin:0}html{box-sizing:border-box}*{box-sizing:inherit}*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}
html {
    font-size: 10px;
    /* CSS 变量 */
    /* 颜色 */
    --titleblack: #0c2238;
    --textblack: #2c3e50;
    --basegreen: #e8eded;
    --gray: hsl(210, 21%, 91%);
    --gray-light: hsl(200, 10%, 94%);
    --gray-deep: hsla(200, 15%, 70%);
    --green-gradient: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    --green: #00cdac;
    --deepblue: rgb(52, 73, 94);
    --deepblue-f9: rgba(52, 73, 94, 0.9);
    --deepblue-f8: rgba(52, 73, 94, 0.8);
    --deepblue-f7: rgba(52, 73, 94, 0.7);
    --deepblue-f6: rgba(52, 73, 94, 0.6);
    --deepblue-f5: rgba(52, 73, 94, 0.5);
    --deepblue-f4: rgba(52, 73, 94, 0.4);
    --deepblue-f3: rgba(52, 73, 94, 0.3);
    --deepblue-f2: rgba(52, 73, 94, 0.2);
    --deepblue-f1: rgba(52, 73, 94, 0.1);
    /* 圆角 */
    --radius-large: 2rem;
    --radius-small: 1rem;
    /* 阴影 */
    --shadow-around-slight: 0 0px 10px 3px rgba(95, 95, 95, 0.15);
    --shadow-bottom: 0px 30px 40px -10px rgba(95, 95, 95, 0.25);
}

body {
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",  "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", SimHei, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--basegreen);
    color: var(--textblack);
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    color: var(--titleblack);
}

h2 {
    font-size: 1.6rem;
    line-height: 2em;
    margin-top: 2rem;
}

hr {
    border: 0;
    border-top: 2px solid var(--gray);
    margin: 1rem 0 2rem;
    width: 60%;
}

p {
    font-size: 1.6rem;
    line-height: 2.2em;
}

a {
    color: inherit;
}
</style>
